
<section class="container mx-auto grid grid-cols-2  min-h-[calc(100vh-75px)] overflow-x-hidden">
    <div>
        <div class="h-full flex flex-col gap-3 justify-center items-center ml-28 ">
            <h2 class="text-start -ml-24 font-extrabold text-8xl leading-[7rem] awesome-text">
                Alowishus <span class="block">Deliciuos</span> <span class="flex items-center justify-center">Coffee <img src="/cafe-of-the-year.png" width={75} height={75} class="m-auto ml-4 mt-11"/></span>
            </h2>
            <p class="desc">
            With a passion for quality and flavor, Alowishus crafts each cup to perfection, satisfying the most discerning coffee connoisseurs.
            </p>
            <div class="self-start my-3 flex gap-3 items-center justify-start">
                <button class="btn-main text-sm">Download App</button>
                <a  href='/menu' class="text-sm uppercase font-semibold hover:scale-105 underline">Shop Coffee</a>
            </div>
        </div>
    </div>
    <div>
        <div class="h-full flex flex-col gap-3 justify-center items-center relative">
            <img src="/alowishus-coffee.png"/>
            <div class="absolute top-10 right-20 flex flex-col gap-3">
                <img src="/Covid-safe.png" width={75} height={75}/>
                <img src="/Good-to-go.png" width={75} height={75}/>
            </div>
        </div>
    </div>
</section>