---
import CartButton  from '../components/CartButton'
    const navItems:{name: string, link: string}[] = [
        {
            name:'Cafe Menu',
            link:'/menu'
        },
        {
            name:'About Us',
            link:'/about-us'
        },
        {
            name:'Find Us',
            link:'/find-us'
        },
        {
            name:'Blog',
            link:'/blog'
        }
    ]
---
<div class="h-[75px] flex justify-between py-4 mx-12">
    <div class="">
        <img src="/alowishus-logo.png" class="h-full object-cover" />
    </div>
    <div class="flex gap-5 items-center">
            {
                navItems.map((item)=><a href={item.link} class="px-3 font-semibold hover:scale-105 transition duration-150">
                    {item.name}
                </a>
                )
            }
        <CartButton/>
        <button class="btn-main text-sm">
            Buy Gift Vouchers
        </button>
    </div>
</div>