---
import SectionHeader from "./SectionHeader.astro"
---
<section class="bg-stone-50 min-h-screen flex flex-col py-10">
    <div class="container mx-auto">
        <SectionHeader header="Explore Our Alowishus" description="A drink from the ‘My Alowishus’ bottled brews range OR grab one of our delicious coffee’s."/>
    </div>
</section>
